@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css');

.col-md-6 {
    text-align: center !important;
}

.toast {
    text-align: left !important;
}

#stats {
    position: -webkit-sticky;
    position: sticky;
    top: 2px;
    text-align: left;
}